html {
  background: #eee;
}

body {
  margin: 2rem auto;
  padding: 0.5rem;
  max-width: 30rem;
  border: 1px solid #888;
  box-shadow: 10px 10px #555;
  line-height: 1.5rem;
  background: #fff;
}

.center {
  display: block;
  margin-inline: auto;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  background: #000;
  color: #fff;
}

nav a {
  font-size: smaller;
  margin-right: 1cm;
}

nav a.active {
  text-decoration: underline;
}

footer {
  text-align: center;
}

.small {
  font-size: small;
}

hr.pattern-dots {
  border: none;
  background: radial-gradient(#555 0.5px, transparent 1px) 0 0/3px 3px;
  height: 0.5rem;
  max-height: 1rem;
}

a::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.2em;
  vertical-align: middle;
  background-image: url("../images/link.png");
  background-size: contain;
  background-repeat: no-repeat;
}

a:hover::after {
  filter: brightness(0) invert(1);
}

a:has(img) {
  background: none !important;
}

a:has(img)::after {
  content: none;
}