body {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  max-width: 40rem;
  border: 1px solid #888;
  box-shadow: 10px 10px #555;
  line-height: 1.5rem;
}

.center {
  float: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

nav a {
  font-size: small;
  color: #000;
  text-decoration: none;
  margin-right: 1cm;
}

nav a:hover {
  background: #000;
  color: #fff;
}

nav a.active {
  text-decoration: underline;
}

footer {
  text-align: center;
  align-items: center;
}

footer p {
  font-size: small;
}

.web-buttons {
  image-rendering: auto;
  image-rendering: -webkit-optimize-contrast;
}

hr.pattern-dots {
  border: none;
  background: radial-gradient(#555 0.5px, transparent 1px) 0 0/3px 3px;
  height: 0.5rem;
  max-height: 1rem;
}

a[href^="http"]::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.2em;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2'%3E%3Cpath d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'/%3E%3Cpath d='M15 3h6v6'/%3E%3Cpath d='M10 14 21 3'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
}